  .wrap {
    overflow: hidden;
    width: 1260px;
    margin: 10px 5px -5px 5px;
  }

  .nautilus-gallery {
  	margin-left:10%	;
  }

  .tint {
    overflow: hidden;
    float: left;
    background: blue;
    margin: 0 20px 20px 0;
    height:280px;
    width:355px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  }
  
  .t2 {
    background: red;
  }
  
  .t3 {
    background: green;
  }
  
  .t4 {
    background: purple;
  }
  
  .t5 {
    background: yellow;
  }
 
  .t6 {
    background: hotpink;
  }
  
  img.color {
    float: left;
    background: black;
    display: block;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
  }

  img.color:hover {
    opacity: .5;
    cursor: pointer;
  }